{% extends 'base.html.twig' %}

{% block title %}
	{{ad.title}}
{% endblock  %}

{% block body %}
	<div class="container">
		<img src="{{ ad.coverImage }}" alt="Image" style="heaght: 200px; width: 100%; display: block">
		<h1>{{ ad.title }}</h1>
		<p>{{ ad.introduction }}</p>
		<p class="h2">
			<strong>{{ ad.rooms }}
				chambres</strong>
			pour
			<strong>{{ ad.price }}&euro;</strong>
			par nuit
		</p>
		<a href="#" class="btn btn-primary">Réserver</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-3">
				{{ ad.content|raw }}
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in ad.images %}
							<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for image in ad.images %}
							<div class="carousel-item {% if loop.first %} active {% endif %}">
								<img src="{{ image.url }}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5>{{ad.title}}</h5>
									<p style="color:white !important;">{{ image.caption }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="row">
					<div class="col-4">
						<img src="http://placehold.it/64x64" alt="avatar">
					</div>
					<div class="col">
						<h3>Mouad Lafnoune</h3>
						<span class="badge badge-primary">3 annonces</span>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, qui platonem cotidieque at. Qui et dicam aliquid sapientem, modo dicant epicurei ex sea, error torquatos cum ea. Cum ut sumo consequat gloriatur. His ne congue propriae, nam paulo iudicabit reformidans et, dicant semper id quo. Magna noster cu duo.</p>
				<p>Lorem ipsum dolor sit amet, qui platonem cotidieque at. Qui et dicam aliquid sapientem, modo dicant epicurei ex sea, error torquatos cum ea. Cum ut sumo consequat gloriatur. His ne congue propriae, nam paulo iudicabit reformidans et, dicant semper id quo. Magna noster cu duo.</p>
				<p>Lorem ipsum dolor sit amet, qui platonem cotidieque at. Qui et dicam aliquid sapientem, modo dicant epicurei ex sea, error torquatos cum ea. Cum ut sumo consequat gloriatur. His ne congue propriae, nam paulo iudicabit reformidans et, dicant semper id quo. Magna noster cu duo.</p>
			</div>
		</div>
	</div>

{% endblock %}
